<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>This is the sample_app about by <a href="http://mridul.co">Mridul Malpotra</a></p>
<p>This app is a part of the tutorial on Rails.</p>
<br>
<p>END</p>
