<footer class="footer">
  <small>
    <b><a href="http://github.com/mridulmalpotra" target="_blank">My GitHub</a></b>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",    '#' %></li>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>